<div class="container">
	<form class="row g-3">
		<legend>Account Registration Form</legend>
		<div class="col-12">
			<label for="inputBT" class="form-label">State</label>
			<select id="inputBT" class="form-select">
				<option selected>Choose...</option>
				<option>...</option>
			</select>
		</div>
		<div class="col-md-6">
		  <label for="inputEmail" class="form-label">Email</label>
		  <input type="email" class="form-control" id="inputEmail" placeholder="hehe@gmail.com">
		</div>
		<div class="col-md-6">
		  <label for="inputContact" class="form-label">Contact</label>
		  <input type="text" class="form-control" id="inputContact" placeholder="(+63)9xxxxxxxx">
		</div>

		<div class="col-md-6">
			<label for="inputFN" class="form-label">Firstname</label>
			<input type="email" class="form-control" id="inputFN">
		  </div>
		  <div class="col-md-6">
			<label for="inputLN" class="form-label">Lastname</label>
			<input type="text" class="form-control" id="inputLN">
		</div>

		<div class="col-md-6">
			<label for="inputAdd1" class="form-label">Address 1</label>
			<input type="email" class="form-control" id="inputAdd1" placeholder="House number, apartment, studio, or floor">
		  </div>
		  <div class="col-md-6">
			<label for="inputCity" class="form-label">City</label>
			<select id="inputCity" class="form-select">
				<option selected>Choose...</option>
				<option>...</option>
			</select>
		</div>

		<div class="col-md-6">
			<label for="inputSP" class="form-label">State/Province</label>
			<select id="inputSP" class="form-select">
				<option selected>Choose...</option>
				<option>...</option>
			</select>
		  </div>
		  <div class="col-md-6">
			<label for="inputCountry" class="form-label">Country</label>
			<select id="inputCountry" class="form-select">
				<option selected>Choose...</option>
				<option>...</option>
			</select>
		</div>
		<button class="btn btn-primary col-1" type="submit">Register</button>
	  </form>
</div>
<br/><br/>